@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
    overflow: hidden;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(https://lh3.googleusercontent.com/gFwes15rx5Zch05jOWu2vk7_0cqd9KU2-YBCgNHCTpDXoIUb7wssUiYUPIW09tcZvCYs4zHE935DDpwR0PMaET1M9PE37uQaEOyp35f4-JnqYgs5ta2pQ2B9UKYb647XKLpCz-FuoUCfDQZiUTvCwGXwVWfjWem41Uw2yMJQRTdm5ekVfNmo-I8Fk_FdB7iHs8nNSAHUB8_yY7pCb14wBdcqoea_aZM-cHvq81htvn7EtxMf0nIA681DJ5bhFppoKME34ImU6GMDoeuZs7TUiz6y9ILIdl1BGaE-xrA2QyuSzeGvd-6HIb2N2nrPJPS4kgSumGHsGC5EMnc6cctYvLbiwbVbq95SRhrvtGBhmgLQbZBJ6ii8Cnbcro0RbAKS0Xylpd2HAsy99TFojnm_g0gQTxg8nB3jpT21Wl-Hit8gBPwSyMNHYvVimJKUcFFJ91t1OwVCED6AA9GwZkfCaYYcs76G2CZLftzu55WgqwcvhA8EQOYX7YLBR9ORuZjRsD-VW9fBZXymqKHZfdD8v7-8DUTRDGgMurSoohCFc1WKDnVc52aBIHiN3eRE47u8UE5HpdFJatH2KBuKVf7VNzCwKApoknoM7Vx_r-Qz5YHoO-4qYlFo-tbnsagbKlOVwZhjlfZDOg5DddfTv2sqbyGS5pvimPZJAH0Uy0MOCxxRKIkbkDSyzMHCzThohMHihrwSuAZPW6WTFaAp6ExmyjUSAKVtCdey3ut0mePUbb0C5Iq-Gv0IF44pG8NcUIwgJWwtVGL4jlrbss2geYSvaVl_8EXueo5Djfkw3SU6Zd03P7DCTeu0gZsslRddOemEHrPS2lNlUEdFcseKTaosFgE_1k6Zs4kZZPOZ70ll_g1YTnfYeD_6VSJzwT0OxezuphuuqPqA3nKKZPUn9KZ72TAwglIH9JX7hh_bM7-3SpI=w1024-h508-s-no?authuser=0);
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 400;
}

.header div span{
    
	color: #10d069 !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #10d069;
	border: 1px solid #10d069;
	cursor: pointer;
	border-radius: 2px;
	color: #ffffff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}